.dropdown-toggle , .dropdown-item{
    cursor: pointer;
}
.wrapper {
    height: 90px;
    display: flex;
    flex-direction: column;
  }

  img{
      max-height: 35px;
      border: 2px solid white;
      display: inline;
  }