<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="text-center">
                    <img src="{{photoUrl || '../../../../../assets/man.png'}}" alt="{{user.username}}" class="card-img-top img-fluid rounded-circle img-thumbnail">
          </div>
          <div class="card-body">
            <div>
              <strong>Location:</strong>
              <p>{{user.city}} , {{user.country}}</p>
            </div>
            <div>
              <strong>Age:</strong>
              <p>{{user.age}}</p>
            </div>
            <div>
              <strong>Last Active:</strong>
              <p>{{user.lastActive | timeago}}</p>
            </div>
            <div>
              <strong>Member since:</strong>
              <p>{{user.created | date:'mediumDate'}}</p>
            </div>
            <div class="card-footer">
                <button [disabled]="!editForm.dirty" class="btn btn-success btn-block" form="editForm">
                  Save Changes
                </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
          <div *ngIf="editForm.dirty" class="alert alert-info">
                  <strong>Information:</strong>
                You have made changes . Any unsaved changes will be lost !
          </div>
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Edit Profile">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="UpdateUser()">
                    <h5>Description:</h5>
                    <textarea name="introduction" rows="6" class="form-control" [(ngModel)]="user.introduction"></textarea>
                    <h5>LookingFor:</h5>
                    <textarea name="lookingFor" rows="6" class="form-control" [(ngModel)]="user.lookingFor"></textarea>
                    <h5>Interests:</h5>
                    <textarea name="interests" rows="6" class="form-control" [(ngModel)]="user.interests"></textarea>
                    <h5>Location Details:</h5>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" [(ngModel)]="user.city">
                        </div>
                        <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" name="country" [(ngModel)]="user.country">
                    </div>
                    </div>
                </form>
            </tab>
            <tab heading="Edit Photos">
             <app-photo-editor [photos]="user.photos" ></app-photo-editor>
            </tab>
            
          </tabset>
        </div>
      </div>
    </div>
  </div>